header {
  background-color: var(--neutral-white);
  box-shadow: 0px 2.784px 5.569px 0px rgba(171, 190, 209, 0.4);
  padding: 11.137px 100.234px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 43.852px;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 5.56px;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 22.274px;
  flex: 1 0 0;
}

.header-menu {
  display: flex;
  align-items: flex-start;
  gap: 16.706px;
}

.header-menu a {
  color: var(--neutral-d-grey);
  text-align: center;
  font-family: Inter;
  font-size: 11.137px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.706px;
}

button {
  background-color: var(--brand-primary);
  display: flex;
  padding: 9.745px 22.274px;
  align-items: center;
  gap: 5.569px;
  border: 1px solid var(--brand-primary);
  border-radius: 2.78px;
  color: var(--neutral-white);
  text-align: center;
  font-family: Inter;
  font-size: 11.137px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.706px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 66.823px 100.234px;
  align-items: center;
  gap: auto;
  align-self: stretch;
  background-color: var(--neutral-silver);
  margin-bottom: 27.84px;
}

.frame1 h1 {
  align-self: stretch;
  color: var(--neutral-d-grey);
  font-family: Inter;
  font-size: 44.548px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.901px;
  margin-bottom: 11.14px;
}

.frame1 h1 span {
  color: var(--brand-primary);
}

.frame1 p {
  color: var(--neutral-d-grey);
  font-family: Inter;
  font-size: 11.137px;
  font-weight: 400;
  line-height: 16.706px;
  margin-bottom: 22.27px;
}

.illustration {
  width: 272.163px;
  height: 283.3px;
  overflow-y: hidden;
}

.clients {
  display: flex;
  width: 100%;
  padding: 0px 100.23px;
  flex-direction: column;
  align-items: center;
  gap: 11.137px;
}
.clients h4 {
  color: var(--neutral-d-grey);
  text-align: center;
  font-family: Inter;
  font-size: 25.059px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.627px;
}

.clients p {
  color: var(--neutral-grey);
  text-align: center;
  font-family: Inter;
  font-size: 11.137px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.706px;
}

.clients-logo {
  display: flex;
  height: 68.215px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 27.84;
}

.community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.community h4 {
  color: var(--neutral-d-grey);
  text-align: center;
  font-family: Inter;
  font-size: 25.059px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.627px;
  margin-bottom: 5.57px;
}

.community p {
  color: var(--neutral-d-grey);
  text-align: center;
  font-family: Inter;
  font-size: 11.137px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.706px;
  margin-top: 11.14px;
}

#frame4 {
  display: flex;
  justify-content: space-between;
  padding: 0 100.23px;
  gap: auto;
}

.frame4:nth-child(2) p {
  width: 167.057px;
}

.frame4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16.71px 22.27px;
}

.frame4 h5 {
  color: var(--neutral-d-grey);
  text-align: center;
  font-family: Inter;
  font-size: 19.49px;
  font-style: 700;
  line-height: 25.059px;
  margin-bottom: 5.57px;
  width: 160.792;
}

.frame4 p {
  color: var(--neutral-d-grey);
  text-align: center;
  font-family: Inter;
  font-size: 9.745px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.921px;
  width: 174.713px;
}

#unlock {
  display: flex;
  padding: 0 100.23px;
  justify-content: space-between;
  align-items: center;
  gap: auto;
  margin-bottom: 33.41px;
}

.frame35 {
  display: flex;

  padding: 36.196px 0;
  align-items: center;
  flex-shrink: 0;
}

.frame6 {
  display: flex;
  flex-direction: column;
  width: 460.102px;
  align-items: flex-start;
  gap: 22.274px;
  flex-shrink: 0;
}

.frame6 h4 {
  align-self: stretch;
  color: var(--neutral-d-grey);
  font-family: Inter;
  font-size: 25.059px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.627px;
}

.frame6 p {
  align-self: stretch;
  color: var(--neutral-d-grey);
  font-family: Inter;
  font-size: 9.745px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.921px;
}

#achievements {
  background-color: var(--neutral-silver);
  display: flex;
  padding: 44.548px 100.23px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33.41px;
}

.section-heading {
  display: flex;
  width: 375.878px;
  flex-direction: column;
  gap: 5.569px;
  flex-shrink: 0;
}

.section-heading h4 {
  color: var(--neutral-d-grey);
  font-family: Inter;
  font-size: 25.059px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.627px;
}

.section-heading h4 span {
  color: var(--brand-primary);
}

.section-heading p {
  color: #18191f;
  font-family: Inter;
  font-size: 11.137px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.706px;
}

.counts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20.88px;
  row-gap: 27.84px;
}

.count-icon {
  display: flex;
  gap: 11.14px;
}

.count-icon svg {
  width: 33.411px;
  height: 33.411px;
}

#customer {
  display: flex;
  padding: 22.27px 100.23px;
  justify-content: space-between;
  align-items: center;
  gap: 54.29px;
  background-color: var(--neutral-silver);
  margin-bottom: 33.41px;
}

#customer .image9 {
  flex-shrink: 0;
  box-shadow: 0 5.569px 11.137px 0 rgba(171, 190, 209, 0.4);
}

#customer .frame11 {
  display: flex;
  flex-direction: column;
  gap: 22.274px;
  flex: 1 0 0;
}

.frame11 p {
  color: var(--neutral-grey);
  font-family: Inter;
  font-size: 11.137px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.706px;
}

.frame11 h4 {
  color: var(--brand-primary);
  font-family: Inter;
  font-size: 13.921px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.49px;
}

.frame11 .frame10 {
  margin-top: 22.27px;
  display: flex;
  align-items: center;
  gap: 28.54px;
}

.frame10 .frame13 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.57px;
}

.community .genislik {
  width: 437.132px;
  margin-top: 5.57px;
  margin-bottom: 11.14px;
}

#frame15 {
  display: flex;
  justify-content: space-between;
  padding: 0 100.23px;
  gap: auto;
  margin-bottom: 100px; /*sonradan sil*/
}

#frame15 .one {
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.one .content {
  background-color: var(--neutral-silver);
  width: 198.38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -5px;
  gap: 11.14px;
  padding: 11.14px;
  border-radius: 5.57px;
  box-shadow: 0px 5.569px 11.137px 0px rgba(171, 190, 209, 0.4);
}

.content p {
  color: var(--neutral-grey, #717171);
  text-align: center;
  font-family: Inter;
  font-size: 13.921px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.49px;
}

.frame13 {
  display: flex;
  gap: 5.57px;
}

.frame13 p {
  color: var(--brand-primary);
}

#frame16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22.27px 0;
  gap: 22.27px;
  
}

#frame16 h4 {
  color: var(--neutral-black, #263238);
  text-align: center;
  font-family: Inter;
  font-size: 44.548px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.901px;
}

#footer {
  padding: 44.548px 114.851px;
  background-color: #263238;
  display: flex;
  align-items: center;
  gap: 87.01px;
  justify-content: space-around;
}

#footer .company-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27.84px;
}

.company-info .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27.84px;
}

.info .logo {
  display: flex;
  gap: 6.88px;
}

.info p {
  color: var(--neutral-silver, #f5f7fa);
  font-family: Inter;
  font-size: 9.745px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.921px;
}

.link{
    width: 442px;
    display: flex;
    align-items: flex-start;
    gap: 20.882px;
}

#footer .link .company {
    width: 111px;
  color: var(--neutral-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer .link .company:nth-child(3){
    width: 177px;
    height: 64.5;
}

#footer .link .company:nth-child(3) input{
    border-radius:  5.569px;
   border: none;
   opacity: .2;
   padding: 10px 5px;
}

.link .company h4 {
  font-family: Inter;
  font-size: 13.921px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.49px;
  margin-bottom: 16.71px;
}

.link .company p {
  font-family: Inter;
  font-size: 9.745px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.921px;
  margin-bottom: 8.35px;
}
